<footer>
    <div class="footer text-white  ">
        <div class="container pt-4 pb-5">
                <div class="row g-4">
                    <div class="col-md-4">
                        <div class="data-footer  d-flex flex-column justify-content-center align-items-center mt-5">
                            <h3 class="pt-4">LOCATION</h3>
                            <p>2215 John Daniel Drive</p>
                            <p>Clark, MO 65243</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-footer  d-flex flex-column justify-content-center align-items-center mt-5">
                            <h3 class="pt-4">AROUND THE WEB</h3>
                            <div class="icon icon-cricle pb-5 ">
                                <i class="fa-brands fa-facebook fs-6 me-2 "></i>
                                <i class="fa-brands fa-twitter fs-6 me-2"></i>
                                <i class="fa-brands fa-linkedin fs-6 me-2"></i>
                                <i class="fa-solid fa-globe fs-6 me-2"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="data-footer mt-5  d-flex flex-column justify-content-center align-items-center">
                            <h3 class="pt-4">ABOUT FREELANCER</h3>
                            <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="end-footer text-center pt-3 pb-3">
            <p>Copyright © Your Website 2021</p>
        </div>
    </div>
</footer>
