<section  class=" contact vh-100 ">
    <div class="container  ">
        <div class=" d-flex flex-column justify-content-center align-items-center ">
            <div class="header-contact mt-5 ">
                <h2 class="fw-bolder fs-1">CONATCT SECTION</h2>
            </div>
            <div class="brd position-relative  ">
                <p class="star-brd "><i class="fa-solid fa-star pe-3 "></i></p>
              </div>
        </div>

        <form >
            <div class="form w-50 p-3 mx-auto ">
           <label for="yourname" class="ps-3 " *ngIf="user!==''">{{userName}} :</label>
           <input [(ngModel)]="user"   type="text" id="yourname" placeholder="userName" name="yourname" class="form-control border-top-0 border-end-0 border-start-0 mb-4 mt-3 p-3 shadow-none" >
           <label for="yourage" class="ps-3 " *ngIf="age!=='' ">{{userAge}} :</label>
           <input [(ngModel)]="age" type="number" id="yourage" placeholder="userAge" name="yourage" class="form-control border-top-0 border-end-0 border-start-0 mb-4 mt-3 p-3 shadow-none">
           <label for="youremail" class="ps-3 " *ngIf="email!==''">{{userEmail}} :</label>
           <input [(ngModel)]="email" type="email" id="youremail" placeholder="userEmail" name="youremail" class="form-control border-top-0 border-end-0 border-start-0 mb-4 mt-3 p-3 shadow-none">
           <label for="yourpassword" class="ps-3 " *ngIf="password!==''"> {{userPassword}}:</label>
           <input [(ngModel)]="password" type="password" id="yourpassword" placeholder="userPassword" name="yourpassword" class="form-control border-top-0 border-end-0 border-start-0 mb-4 mt-3 p-3 shadow-none">
           <div class="button">
            <button class="btn btn-info text-white mt-4">SendMessage</button>
        </div>
        </div>
            
        </form>
    </div>

</section>
