<section id="Portfolio">
    <div class="portfolio d-flex flex-column justify-content-center align-items-center   vh-100">
        <div class="header-portfolio mt-5">
            <h2 class="fw-bolder fs-1">PORTFOLIO COMPONENT</h2>
        </div>
        <div class="brd position-relative  ">
            <p class="star-brd "><i class="fa-solid fa-star pe-3 "></i></p>
          </div>

          <div class="container">
            <div class="row g-4 mb-4">
                <div class="col-md-4">
                    <div class="image-portfolio position-relative" >
                        <img src="../../assets/images/poert1.png " alt="" class="w-100 rounded-3">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <span> <i class="fa-solid fa-plus fa-6x text-white"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-portfolio position-relative ">
                        <img src="../../assets/images/port2.png " alt="" class="w-100 rounded-3">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <span> <i class="fa-solid fa-plus fa-6x text-white "></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-portfolio position-relative">
                        <img src="../../assets/images/port3.png " alt="" class="w-100 rounded-3">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <span> <i class="fa-solid fa-plus fa-6x text-white "></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-portfolio position-relative">
                        <img src="../../assets/images/poert1.png " alt="" class="w-100 rounded-3">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <span> <i class="fa-solid fa-plus fa-6x text-white "></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-portfolio position-relative">
                        <img src="../../assets/images/port2.png " alt="" class="w-100 rounded-3">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <span> <i class="fa-solid fa-plus fa-6x text-white "></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-portfolio position-relative">
                        <img src="../../assets/images/port3.png " alt="" class="w-100 rounded-3">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <span> <i class="fa-solid fa-plus fa-6x text-white "></i></span>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="lightbox d-flex justify-content-center align-items-center d-none " >
            <div class="image-box text-center ">
                <img src="../../assets/images/poert1.png" alt="" class="">
            </div>
          </div>
    </div>

</section>
