
  <section  >
    <div class="home d-flex flex-column  justify-content-center align-items-center  vh-100 ">
        <div class="image  ">
            <img src="../../assets/images/images.png" alt="" class=" mb-3  rounded-circle  " >
        </div>
        <h2 class="text-white fw-bolder fs-1 pt-3">START FRAMEWORK</h2>
        <div class="brd position-relative  ">
          <p class="star-brd "><i class="fa-solid fa-star text-white pe-3"></i></p>
        </div>
        <div class="text-white pb-2">
          Graphic Artist - Web Designer - Illustrator
      </div>
    </div>
  </section>